<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Yeni Borçlu Ekle</title>
</head>
<body>
    <h1>Yeni Borçlu Ekle</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}<br>
        {{ form.product.label }} {{ form.product() }}<br>
        {{ form.price.label }} {{ form.price() }}<br>
        {{ form.address.label }} {{ form.address() }}<br>
        {{ form.phone.label }} {{ form.phone() }}<br>
        {{ form.submit() }}
    </form>
    <a href="{{ url_for('cari_takip') }}">Geri Dön</a>
</body>
</html>