{% extends "base.html" %}
{% block title %}Cari Takip - Veteriner Kliniği{% endblock %}
{% block content %}
    <h1>Cari Takip</h1>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Adı</th>
                <th scope="col">Ürün</th>
                <th scope="col">Borç</th>
                <th scope="col">Adres</th>
                <th scope="col">Telefon</th>
                <th scope="col">İşlem</th>
            </tr>
        </thead>
        <tbody>
        {% for debtor in debtors %}
            <tr>
                <td><a href="{{ url_for('debtor_detail', debtor_id=debtor.id) }}">{{ debtor.name }}</a></td>
                <td>{{ debtor.product }}</td>
                <td>{{ debtor_debts[debtor.id] }} TL</td>
                <td>{{ debtor.address }}</td>
                <td>{{ debtor.phone }}</td>
                <td>
                    <form action="{{ url_for('delete_debtor', debtor_id=debtor.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm btn-modern">Sil</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Yeni Borçlu Ekleme Formu -->
    <h2 class="mt-4">Yeni Borçlu Ekle</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.product.label }} {{ form.product(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.price.label }} {{ form.price(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.address.label }} {{ form.address(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.phone.label }} {{ form.phone(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary btn-modern") }}
    </form>
{% endblock %}